
body{
    font-family: 'Rubik', sans-serif;
   
}
.spanclr{
    color: orange;
}
.display{
    display: flex;
}
.text{
    padding-top: 100px;
    padding-left: 100px;
}
h1{
    font-size: 60px;
}
p{
    font-size: 25px;
}
a{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(red, orange);
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    
}
.bg{
    background-image: url(Pic/bg1.jpg);
    display: flex;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;


}
#textfix{
    font-size: 30px;
    padding-left: 15%;
}
#text2{
    padding: 1% 15%;
}
#aboutme{
    margin-left: 15%;
}
.text3{
    text-align: center;
    padding: 1% 25%;
}
#text3{
font-size: 20px;
}
#r1 img{
height: 250px;
width: 300px;
border-radius: 20px;

}
.flexlast{
    display: flex;
}
#r1{
    padding: 5px 40px;

    width: 300px;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 10px 20px gray;
}
#subs h1{

    display: inline;
    padding: 20px 100px;
    
}
.subs{
    box-shadow: 5px 10px 20px gray;
    margin-top: 10%;
    padding-top: 3%;
    border-radius: 20px;
    margin: 10%;

    
}
#icon1 a{
    background-image: none;
    
}
#icon2 a{
    background-image: none;
    
}
#icon3 a{
    background-image: none;
    
}
#icon1 img{
    height: 100px;
    width: 200px;
    margin-left: 18%;
    
}
#icon2 img{
    height: 100px;
    width: 200px;
    margin-left: 50%;
    
}
#icon3 img{
    height: 100px;
    width: 200px;
    margin-left: 80%;
    
}
.icon{
    display: flex;
}
#keka{
    color: orange;
    
}
.bottom{
    text-align: center;
    background: gray;
    padding-bottom: 5%;
    padding-top: 1%;

}
#bottom{
    font-size: 40px;
}